:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark-blue: #050573;
    --light-blue: #4cc9fe;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    }
    body {
        margin: 0;
        font-family: 'Quicksand', sans-serif;
      }

      .titulo{
        text-align: center;
      }
  
      .inactive{
          display: none;
      }
  
      /* NAV */
      nav {
        background-color: var(--white);
        display: flex;
        justify-content: space-between;
        padding: 5px 24px;
        border-bottom: 1px solid var(--dark-blue);
      }
      .menu {
        display: none;
      }
      .logo {
        width: 50px;
      }
      .navbar-left ul,
      .navbar-right ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        height: 60px;
      }
      .navbar-left {
        display: flex;
      }
      .navbar-left ul {
        margin-left: 12px;
      }
      .navbar-left ul li a,
      .navbar-right ul li a {
        text-decoration: none;
        color: var(--dark-blue);
        border: 1px solid var(--white);
        padding: 8px;
        border-radius: 8px;
      }
      .navbar-left ul li a:hover,
      .navbar-right ul li a:hover {
        border: 1px solid var(--hospital-green);
        color: var(--hospital-green);
      }

      .descripcion{
        text-align: justify;
        margin-bottom: 20px;
      }

      .input-container{
        margin-left: 20px;
        width: 50px;
      }

      .graphic{
        position: relative;
        padding-left: 420px;
      }

      .headings1{
        background-color: var(--dark-blue);
        color: #ffffff;
        text-align: justify;
        /* padding: 10px; */
      }

      .headings2{
        background-color: var(--semi-dark-blue);
        color: #ffffff;
        text-align: justify;
        /* padding: 10px; */
      }

      .heading-tm{
        background-color: var(--light-blue);
        color: #000000;
        text-align: justify;
        /* padding: 10px; */
      }

      .heading-aa{
        background-color: var(--light-blue);
        color: #000000;
        text-align: justify;
        /* padding: 10px; */
      }

      .time-solution-container{
        background-color: var(--white);
        /* padding: 5px; */
      }

      .footer{
        background-color: var(--dark-blue);
        color: #ffffff;
        text-align: right;
        /* padding: 10px; */
      }